<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <title>{{@blog.title}}</title>
    <link rel="stylesheet" href="{{asset "css/normalize.css"}}">
    <link rel="stylesheet" href="{{asset "css/main.css"}}">
</head>

<body>
{{navigation}}

{{!--articles post --}}
<div class="content" id="articles">
    {{#foreach posts}}
        <article>
            <header>
                <div class="entry-date">
                    <span><a href="{{url}}">{{date format="YYYY年MM月DD日"}}</a></span>
                </div>
                <h2 class="entry-title"><a href="{{url}}">{{title}} </a></h2>
            </header>
        </article>
        <hr> {{/foreach}}
</div>


<footer id="footer">
    <div class="nav-link">
        {{pagination}}
    </div>

    <div class="site-footer">
            <span class="site-footer-info">
                {{@blog.description}}
            </span>
    </div>
</footer>
</body>
<script src="{{asset "js/main.js"}}"></script>

</html>