<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <title>{{@blog.title}}</title>
    <link rel="stylesheet" href="{{asset "css/normalize.css"}}">
    <link rel="stylesheet" href="{{asset "css/main.css"}}">
</head>
<style>

</style>

<body>
<header>
    <div class="header-top">
        <nav class="main-navigation">
            <ul>
                {{#navigation}}
                    {{#foreach navigation}}
                        <li><a href="{{url absolute="true"}}">{{label}}</a></li>
                    {{/foreach}}
                {{/navigation}}
            </ul>
        </nav>
        <button class="sidebar-toggle" id="toggle-button">
            &#xe767;
        </button>
    </div>
    <div class="site-branding">
        <a href="#">{{@blog.title}}</a>
    </div>
</header>

<div class="site-info hidden-block" id="site-info">
    <nav>
        <h2>菜单</h2>
        <hr>
        <ul>
            {{#navigation}}
                {{#foreach navigation}}
                    <li><a href="{{url absolute="true"}}">{{label}}</a></li>
                    <hr>
                {{/foreach}}
            {{/navigation}}
        </ul>
    </nav>
    <div class="secondary">
        <p>{{@blog.description}}
        </p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, accusantium eos ex fugiat illum non quaerat
            quas
            velit voluptatem voluptatibus. Ad, fugit, rem? Illum inventore placeat quis, quisquam quo rerum.
        </p>
    </div>

</div>

{{!--articles post --}}
<div class="content" id="articles">
    {{#foreach posts}}
        <article>
            <header>
                <div class="entry-date">
                    <span><a href="{{url}}">{{date format="YYYY年MM月DD日"}}</a></span>
                </div>
                <h2 class="entry-title"><a href="{{url}}">{{title}} </a></h2>
            </header>
        </article>
        <hr> {{/foreach}}
</div>


<footer id="footer">
    <div class="nav-link">
        {{pagination}}
    </div>

    <div class="site-footer">
            <span class="site-footer-info">
                {{@blog.description}}
            </span>
    </div>
</footer>
</body>
<script src="{{asset "js/main.js"}}"></script>

</html>