<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="{{asset "css/normalize.css"}}">
    <link rel="stylesheet" href="{{asset "css/main.css"}}">
</head>
<body>
<header>
    <div class="header-top">
        <nav class="main-navigation">
            <ul>
                {{#navigation}}
                    {{#foreach navigation}}
                        <li><a href="{{url absolute="true"}}">{{label}}</a></li>
                    {{/foreach}}
                {{/navigation}}
            </ul>
        </nav>
        <button class="sidebar-toggle" id="toggle-button">
            &#xe767;
        </button>
    </div>
    <div class="site-branding">
        <a href="#">{{@blog.title}}</a>
    </div>
</header>

<div class="site-info hidden-block" id="site-info">
    <nav>
        <h2>菜单</h2>
        <hr>
        <ul>
            {{#navigation}}
                {{#foreach @blog.navigation}}
                    <li><a href="{{url absolute="true"}}">{{label}}</a></li>
                    <hr>
                {{/foreach}}
            {{/navigation}}
        </ul>
    </nav>
    <div class="secondary">
        <p>
            嘻嘻 你好～
        </p>
    </div>
</div>


{{#post}}
    <div class="main-body" id="main-body">
        <article>
            <header>
                <div class="entry-date">
                <span>
                    <a href="#">{{date format="YYYY年MM月DD日"}}</a>
                </span>
                </div>
                <h1 class="entry-title">
                    {{title}}
                </h1>
            </header>
            <div class="entry-content">
                {{content}}
            </div>
        </article>
    </div>
{{/post}}
</body>
<script src="{{asset "js/main.js"}}"></script>
</html>

